body {
  background-color: #ff0000;  /* light blue */
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  color: #1a7d01;
  margin-top: 50px;
}

p {
  color: #333;
  font-size: 18px;
}

button {
  background: darkblue;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background: royalblue;
}

